/* I forgot the point ,the layout without it ,will be misplaced*/

*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: #f5f7fa;
    color: #333;
}

#map{
    flex: 1;
}

.toolbar {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
}

#indicator ,
#year{
    padding: 5px;
    font-size: 16px;
}
